@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@31,18.8&family=Nabla&display=swap");

* {
  margin: 0;
  padding: 0;
}
.navbar {
  overflow: hidden;
  background-color: red;
  display: flex;
  justify-content: space-around;
  height: 6rem;
  align-items: center;
}
.link {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.link1 a {
  text-decoration: none;
  color: white;
}

.link1 a:hover {
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
}
.head {
  width: 100%;
  height: 40rem;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .left {
  width: 40%;
}
.head h1 {
  font-size: 4rem;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
}
.head p {
  font-size: 2rem;
}
.head a {
  font-size: 2rem;
  border: 2px solid;
  padding: 2px;
  border-radius: 5px;
  margin: 9px;
  text-decoration: none;
}
.holder {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.random {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.idk {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.column {
  display: flex;
}
.picitem {
  display: flex;
  flex-direction: column;
  /* align-items:space-between; */
  /* justify-content:center; */
  text-align: center;
}
.picitem p {
  font-size: 2rem;
}
.pic {
  margin: 2vw;
  border: 4px solid blue;
  width: 20rem;
  height: 20rem;
  border-radius: 9px;
}
.quote {
  height: 30rem;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}
.text {
  width: 70%;
}
.itallic i {
  color: #454c56;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: light;
}
.bold {
  display: flex;
  justify-content: flex-end;
}
.bold b {
  margin-top: 50px;
  font-size: 1.5rem;
}
.sign {
  height: 30rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue {
  background-color: blue;
  width: 70%;
  height: 10rem;
  border-radius: 9px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.lefty {
  font-size: 2rem;
}
.blue .signup {
  color: white;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 6px;
  padding: 9px;
}
.footer {
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  height: 4vw;
  align-items: center;
}
